*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: #e0b0ff;
    display:flex; /*Mueve las cajas en horizontal*/
    flex-direction: now;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px; /*Separa los cuadros*/
}

.caja{
    background-color: aqua;
    color:blueviolet;
    border: 2px solid black;
    width: 367px;
    height: 507px;
    margin: 2px;        
    border-radius: 10px;   
    text-align: center;
    font-size: 22px;
    line-height: 100px; /*Acentra el texto*/
   
}

/*#caja1{flex-grow: 1;}
#caja2{flex-grow: 2;}
#caja3{flex-grow: 3;}
#caja4{flex-grow: 4;}
#caja5{flex-grow: 5;}
#caja6{flex-grow: 6;}*/

/*#caja1{
    align-self:flex-start;
}*/



 