* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 195vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

ul {
    list-style: none;
    width: 500px;
    height: 800px;
}

ul > li > ul {
    display: none;
}

ul > li:hover > ul { 
    display: block;
    height: 100%;
}
.opcion {
    color: white;
    font-size: 25px;
    font-family: Arial Black;
    border-bottom: 3px solid rgba(199, 69, 69, 0.863);
}
.subOpcion {
    padding-left: 10px;
    background: rgba(172, 175, 14, 0.582);
    color: black;
    font-size: 20px;
    font-family: monospace;
    transition: .7s;
}

li:hover {background-color: rgba(146, 212, 250, 0.644);}

#Opcion1{
    background: rgb(230, 230, 8);
}

#Opcion2{
    background: rgb(241, 184, 78);
}

#Opcion3{
    background: rgb(238, 128, 101);
}

h1{
    font-size: 30px;
    font-family: Verdana;
    color: white;
    padding: 1px;
    background-color: rgba(219, 106, 106, 0.534);
    line-height:1.3;
    text-align: center;
}

#icono{
    color:black;
    padding: 9px;
}
