*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 'menulat menulat'
    'encabezado columna1'
    'columna2 piepagina';
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
}

.caja{
    background-color: black;
    border: 2px solid white;
    color: white;
    text-align: justify;
    font-family: monospace;
    font-size: 16px;
}
#caja1{
    grid-area: menulat;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.caja span{
    font-size: 70pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.caja span::before{
    content:var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(19px);    
}

.caja span::after{
    content:var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    transform: rotatex(50deg);
    filter: blur(30px);    
}

.caja span:hover{filter: contrast(250%);}

.caja span:nth-child(1){ color:#0028ff;}
.caja span:nth-child(2){ color:#527ff8;}
.caja span:nth-child(3){ color:#3167da;}
.caja span:nth-child(4){ color:#5268f8;}
.caja span:nth-child(5){ color: #4790d4;}
.caja span:nth-child(6){ color: #01c4e7;}
.caja span:nth-child(7){ color: #920d7c;}
.caja span:nth-child(8){ color: #ED006C;}
.caja span:nth-child(9){ color: #983CB8;}
.caja span:nth-child(10){ color: #F986BF;}
.caja span:nth-child(11){ color: #b97fec;}
.caja span:nth-child(12){ color: #bb00ff;}

#caja2{grid-area: encabezado;padding: 7px 10px;}
#caja3{
    grid-area: columna1;
    background-image: Url(Aurora.gif); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
#caja4{
    grid-area: columna2;
    background-image: Url(Colores.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
#caja5{grid-area: piepagina; padding: 20px 10px;}

.neon1{    
    font-size: 37px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 5px #ff0697,
    0 0 25px #ff0697,
    0 0 50px #ff0697,
    0 0 100px #ff0697; 
    letter-spacing: 5px;
    cursor:pointer;    
    transition: 1s;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#caja5 h1{
    text-shadow: 0 0 5px aquamarine,
    0 0 25px aquamarine,
    0 0 50px aquamarine,
    0 0 100px aquamarine;
}

@media screen and (max-width: 900px){
.contenedor{
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 55% 40%;
    grid-template-areas: 'menulat menulat'
    'encabezado columna1'
    'columna2 piepagina';
}
}

#caja3:hover{ 
    /*transform: translate(20px, 20px);*/
    transform: scale(1.5);
}

#caja4:hover{transform: scale(1.5);}
    