*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
width: 100vw;
height: 100vh; 
}

div.sidebar{
    float: left;
    background-color: #bc98f3;
    width: 180px;
    height: 100%;
    overflow: auto;
    font-family: Arial Black;
    font-size: 20px;
    flex-direction: column;  
}

a{
    display:block;
    text-decoration: none;
    padding: 5px;
}

a:hover{
background-color: #d3bcf6;
color: white;
}

div.content{
    float: left;
    width: calc(100% - 180px);
    background-color: pink;
    padding: 1px 16px;
    height: 100%;      
    display: flex;
    flex-wrap: wrap; 
}

.contenidoOpcion{display: none;}

@media screen and(max-width: 1200px){
    div.sidebar {
    float: none;
    width: 100%;
    height: auto;    
    }

.sidebar a {float: left;}

div.content {margin-left: 0;
width: 100%;}
}

@media screen and(max-width: 600px){
    .sidebar a {
        float: none;
        text-align: center;
    }
}

.ContenedorCaja{
    width: calc(100% - 180px);
    height: calc(100% - 120px);
    display: flex;
    flex-direction: now;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 7px; 
    margin: 0 auto;
}

.caja{  
    width: 316px; 
    height: 518px;
    text-align: center;
    font-size: 22px;     
    margin: 2px;      
}

#caja1{
    background-image: Url(cupcakes.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

#caja2{
    background: #fdf9c4;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding: 160px 15px;    
} 

#caja3{
    background-image: Url(Rosa.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

header{
    text-align: center;
    font-size: 57px;
    font-family: Brush Script MT;
    color: rgb(134, 75, 134);    
    height: 120px;
    line-height: 120px;
    background-image: Url(Cabecera1.png);
    background-repeat: repeat;
}

#icono{
    color: white;
    padding: 10px 9px;
}

a{color: #4b1c71;}

@media  screen and (max-width: 900px) {
    div.sidebar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 60px;
        padding: 5px;
}

div.content{
    width: 100%;
    height: 1530px;
    }

    .caja{
        display: flex;
        flex-direction: row;
        width: 400px; 
        height: 500px;
        }
}

input{display: none;}

input:checked + .sidebar{
    display: none;
}

#icono2{
    color: #4b1c71;    
    padding: 10px 0px;
    font-size: 28px;
}

#icono2:hover{color: white;}

input:checked + .sidebar + div.content{
       width:100%;  
}