*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
width: 100vw;
height: 100vh; 
background-color: #d3bcf6;
display: block;
justify-content: center;
text-align: center;  
}

header{
    text-align: center;
    font-size: 40px;
    font-family: Brush Script MT;
    color: rgb(134, 75, 134);    
    height: 120px;
    line-height: 120px;
    background-repeat: repeat;
    background-color: #fdfd96;
}

button{
    padding: 5px 5px;
    background-color: #bc98f3; 
    border-radius: 10px; 
    font-family: Arial Black; 
    color: #4b1c71;
    font-size: 16px;      
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 16px 30px;
    text-align: justify;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #8f107a; 
}