*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
width: 100vw;
height: 100vh; 
}

div.sidebar{
    float: left;
    background-color: #e0b0ff;
    width: 180px;
    height: 100%;
    overflow: auto;
    font-family: Arial Black;
    font-size: 20px;
}

a{
    display:block;
    text-decoration: none;
    padding: 5px;
}

.content{
    display: flex;
    flex-wrap: wrap;   
}

a:hover{
background-color: yellow;
color: white;
}

div.content{
    float: left;
    width: calc(100% - 180px);
    background-color: pink;
    padding: 1px 16px;
    height: 100%;  
}

.contenidoOpcion{display: none;}

@media screen and(max-width: 1200px){
    div.sidebar {
    float: none;
    width: 100%;
    height: auto;    
    }

.sidebar a {float: left;}

div.content {margin-left: 0;
width: 100%;}
}

@media screen and(max-width: 600px){
    .sidebar a {
        float: none;
        text-align: center;
    }
}

.ContenedorCaja{
   /* padding: 107px 1px;*/
    width: calc(100% - 180px);
    height: calc(100% - 120px);
    display: flex;
    flex-direction: now;
    flex-wrap: wrap;
    justify-content: center; /*Acentra el contenido de derecha-izquierda*/
    align-items: center; /*Acentra el contenido de arriba-abajo*/
    gap: 8px; /*Separa las columnas*/
    margin: 0 auto;
}

.caja{  
    /*border: 2px solid black;*/
    width: 315px; 
    height: 490px;
    text-align: center;
    font-size: 22px;     
    margin: 2px;  
    
}

#caja2{
    background: #f0e87c;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    line-height: 130px;    
} 

header{
    text-align: center;
    background-color: rgba(245, 245, 97, 0.993);
    font-size: 50px;
    font-family: Brush Script MT;
    color: rgb(134, 75, 134);    
    line-height: 120px;
    height: 120px;
}

#icono{
    color:black;
    padding: 10px 9px;
}

/*@media  screen and (max-width: 700px) {
    div.sidebar, .content {
        display: flex;
    }
}*/

